{% include 'base.html' %}
{% include 'static/navbar.html' %}



<h1 class="h2">Transacciones</h1>
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
        <a type="submit" href="" class="btn btn-sm btn-outline-secondary">Filtrar</a>

    </div>

</div>
</div>

<br>
<div class="container" style="width: 85%;align-self: center;">
    {% for transaccion in Transacciones %}
    {% if transaccion.autorizado == 1 %}
    <div class="card border-success mb-3" style="max-width: 85rem;"></div>
    {% else %}
    <div class="card border-danger mb-3" style="max-width: 85rem;"></div>
    {% endif %}

    <div class="card-header">
        <p style="text-align:left;">
            <b style="font-size: 20px;"> {{ transaccion.nombre_producto }}</b>
            <a style="float:right; font-size: 15px; ">
                ID #{{ transaccion.id_producto }}
            </a>

        </p>
    </div>
    <div class="card-body text-success">
        <h4 class="card-title">comprador {{ transaccion.usuario_comprador }}</h4>
        <p style="display:inline;text-align:left;" class="card-text">Fecha de solicitud: <b>{{ transaccion.fecha_peticion }}</p>
        <p style="display:inline;text-align:left;" class="card-text">Fecha de Procesado: <b>{{ transaccion.    fecha_autorizado = models.DateField(null=True)
            }}</p>
        <h4 class="card-title">Informacion De Pago:</h4>
        <p style="display:inline;text-align:left;" class="card-text">Nombre: <b>{{ transaccion.pago.nombre_tarjeta }}</p>
            <p style="display:inline;text-align:left;" class="card-text">Numero: <b>{{ transaccion.pago.no_tarjeta }}</p>
    </div>
</div>
{% endfor %}



</div>

{% include 'static/footer.html' %}
{% include 'scripts.html' %}